<template>
  <v-app>
    
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      disable-resize-watcher
      app
      mini-variant-width="74"
    >
      <v-app-bar-nav-icon style="margin-left: 10px;" v-on:click="navIconClick" v-if="isMobile && drawer" />
      <v-list dense>
        <v-list-item v-for="(item, i) in mainItems" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon size="23">{{ item.icon }}</v-icon>
            <p v-if="miniVariant" class="minitext" v-text="item.title"></p>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider v-if="!miniVariant"></v-divider>
      <v-list dense>
        <v-list-item v-for="(item, i) in libraryAndHistory" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon size="23">{{ item.icon }}</v-icon>
            <p v-if="miniVariant" class="minitext" v-text="item.title"></p>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    
      <v-divider v-if="!miniVariant"></v-divider>

      <v-container v-if="!miniVariant">
        <v-subheader>Sign in to like videos, comment, and subscribe.</v-subheader>
      
        <v-btn outlined color="accent" right class="button-nav">
        <v-icon size="26" left>mdi-account-circle</v-icon>
           <h4>SIGN IN</h4>
        </v-btn>
        
        
      </v-container>
      <v-divider v-if="!miniVariant"></v-divider>
      <v-container v-if="!miniVariant"> 
        <v-list-item-title>BEST OF YOUTUBE</v-list-item-title>
      </v-container>
      <v-list dense v-if="!miniVariant">
        <v-list-item v-for="(item, i) in bestOfYt" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-img :src="item.icon" max-height="23" max-width="23" class="rounded-circle"></v-img>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider v-if="!miniVariant"></v-divider>

      <v-list dense v-if="!miniVariant">
        <v-list-item v-for="(item, i) in browse" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider v-if="!miniVariant"></v-divider>
      <v-container v-if="!miniVariant"> 
        <v-list-item-title>MORE FROM YOUTUBE</v-list-item-title>
      </v-container>
      <v-list dense v-if="!miniVariant">
        <v-list-item v-for="(item, i) in morefromyt" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider v-if="!miniVariant"></v-divider>

      <v-list dense v-if="!miniVariant">
        <v-list-item v-for="(item, i) in general" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <h5 v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider v-if="!miniVariant"></v-divider>
      <v-container v-if="!miniVariant">
        <p>This is a copy of youtube front page, do not mistake this for youtube. Thank you!</p>
      </v-container>
    </v-navigation-drawer>
    <v-app-bar
      :clipped-left="true"
      fixed
      app
      height="56"
      color="white"
      elevation="1"
    >
      
       <v-app-bar-nav-icon v-on:click="navIconClick"/>
       <v-img src="https://maxcdn.icons8.com/Share/icon/ios7/Media_Controls/youtube_play_filled1600.png" max-width="30px" max-height="30px"></v-img>
       <h5 class="logo-text">YouTube</h5><span class="upper-text">COPYPASTA</span>
       <v-text-field style="max-width: 35%; margin-left: 20%; margin-right: auto;" label="Search" outlined dense height="10" append-icon="mdi-magnify" append-outer-icon="mdi-microphone" hide-details @click:append="click" @click:append-outer="click"> 
            
          </v-text-field>
       <span class="" style="align-self: center; margin-left: 10em;">
             <v-btn icon>
            <v-icon >mdi-apps</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
          <v-btn height="40" width="103" tile outlined color="accent">
            &nbsp;
            <v-icon size="28" left>mdi-account-circle</v-icon>
              <h4>SIGN IN</h4>
          </v-btn>
          </span>
       
      
         
      
    </v-app-bar>
    
    <v-main>
      <v-divider></v-divider>
      <nuxt />
      
    </v-main>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      mainItems: [
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-fire',
          title: 'Trending',
          to: '/trending'
        }, {
          icon: 'mdi-youtube-subscription',
          title: 'Subscriptions',
          to: '/subscriptions'
        } 
      ],
      libraryAndHistory: [
        {
          icon: 'mdi-play-box-multiple',
          title: 'Library',
          to: '/library'
        }, {
          icon: 'mdi-history',
          title: 'History',
          to: '/history'
        }
      ],

      bestOfYt: [
        {
          icon: 'https://yt3.ggpht.com/yCizpKxnKVf0oD2Y-o6KWeWKHIuo0jQfePNTgQhEMCgwYOhBXtxiSEhwMpArVrzTIlxvQjNEiQ=s88-c-k-c0x00ffffff-no-rj',
          title: 'Music',
          to: '/music'
        }, {
          icon: 'https://yt3.ggpht.com/XYkNnPUKaQYKDV5fL7ZGKs73b73DdzU4fwJTZ-VkdZ8G3S9qgtXi_fxJkt7rMoXIrL2Uc20BTIg=s88-c-k-c0x00ffffff-no-rj-mo',
          title: 'Sports',
          to: '/sports'
        },
        {
          icon: 'https://yt3.ggpht.com/kIRRxxrKV2H5C79EqU8bndVjyAR9SAdo76jRpYC330vGjjTN3N-88yE_C2e0SL8tQgCOt416AS8=s88-c-k-c0x00ffffff-no-rj-mo',
          title: 'Gaming',
          to: '/gaming'
        }, {
          icon: 'https://yt3.ggpht.com/OAiKZsFeb-CqCIhi5SWxJL0hIioaTpxJj14tFjT5MhoP9WUsO1L5bId2e0MD5ZTC1CNG68E5=s88-c-k-c0x00ffffff-no-rj',
          title: 'News',
          to: '/news'
        }, {
          icon: 'https://yt3.ggpht.com/8D6JlsnvwDZFMdcbjqVji82kggP3aXXbO-yBD0RFrKlp4G1zNt9wcqcVTSPnAI8GuUAbDYQwsg=s88-c-k-c0x00ffffff-no-rj',
          title: 'Live',
          to: '/live'
        }, {
          icon: 'https://yt3.ggpht.com/Ht5f67bATN9P8mWNIqcAX_J0vsP7sj406ypf4xyQfa-6bbRfK0YDZHQPM1D7UkrjE6hA_iiQ4y0=s88-c-k-c0x00ffffff-no-rj',
          title: '360° Video',
          to: '/360video'
        }
      ],

      browse: [
        {
          icon: 'mdi-plus-circle',
          title: 'Browse channels',
          to: '/browse'
        },
      ],

      morefromyt: [
        {
          icon: 'mdi-youtube',
          title: 'YouTube Premium',
          to: '/premium'
        },
        {
          icon: 'mdi-access-point',
          title: 'Live',
          to: '/live'
        },
      ],

      general: [
        {
          icon: 'mdi-play-box-multiple',
          title: 'Settings',
          to: '/settings'
        }, {
          icon: 'mdi-history',
          title: 'Report History',
          to: '/reporthistory'
        }, {
          icon: 'mdi-play-box-multiple',
          title: 'Help',
          to: '/help'
        }, {
          icon: 'mdi-history',
          title: 'Send feedback',
          to: '/feedback'
        },
      ],
      isMobile: false,
      miniVariant: false,
    }
  },

  mounted() {
    if (window.innerWidth < 1267) {
      this.isMobile = true;
    } else {
      this.isMobile = false;
    }

    window.onresize = () => {
      
      if (window.innerWidth < 1267) {
        this.isMobile = true;
        this.miniVariant = false;
      } else {
        this.isMobile = false;
        
      }
      //weird workaround. first show drawer and then make it mini version
      if (window.innerWidth > 1267 && !this.drawer) {
        this.drawer = true;
        this.miniVariant = true;
      }
    }
  },

  methods: {
    navIconClick() {
      if (this.isMobile) {
        this.drawer = !this.drawer;
        
      } else {
        this.miniVariant = !this.miniVariant;
      }
    },
    click() {

    }
  },
}
</script>

<style>
h4 {
  letter-spacing: normal;
}

h5 {
  line-height: normal;
  font-size: 0.9rem;
  font-weight: 400;
}
.v-list .v-list-item--active .v-icon {
    color: red;
    
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
  width: 5px; 
}
                                         
::-webkit-scrollbar-thumb {
  background: rgba(190, 190, 190, 0.671);                                 
  border-radius: 20px;    
}

.button-nav {
  margin-left: 1rem;
  width: 8em;
  border-radius: 2px;
}

.minitext {
  font-size: 10px;
  text-align: right;
  justify-self: center;
}

.v-list-item__action--stack {
    align-items:center;
    align-self: stretch;
    justify-content: space-between;
    white-space: nowrap;
    flex-direction: column;
}

.v-application--is-ltr .v-toolbar__content > .v-btn.v-btn--icon:first-child, .v-application--is-ltr .v-toolbar__extension > .v-btn.v-btn--icon:first-child {
    margin-left: -4px;
}
.logo-text{
  font-size: 1.2rem;
  font-stretch: semi-condensed;
  font-weight: 700;
}
.upper-text{
  font-size: 0.7rem;
  height: 20px;
}
</style>

