<template>
  <div class="page-content">
    <div class="videos"> 
    <div class="panel" v-for="item in items" :key="item.id">
      <div @mouseover="onHoverEnter(item)" @mouseleave="onHoverExit(item)">
        <img :src="item.thumbnail"/>
      <span class="main-content">
        <div class="img-content"> 
          <img class="profileImg" :src="item.profileImg"/>
        </div>
        
        <div class="sub-content">
          <p class="video-title"> {{item.title}} </p>
          <p class="video-username">{{item.username}}</p>
          <span class="sub-data">
            <div class="views">
              <h6>{{item.views}} &nbsp; &bull; &nbsp; </h6>
            </div>
            <div class="publish-date">
              <h6>{{item.publishDate}}</h6>
            </div>
          
          </span>
          
        </div>
        
      </span>
      
      
      </div>
      
    </div>
  </div>
  <v-divider class="divider"></v-divider>
  <h2 class="heading">Trending</h2>
  <div class="videos"> 
    <div class="panel" v-for="item in trending" :key="item.id">
      <div @mouseover="onHoverEnter(item)" @mouseleave="onHoverExit(item)">
        <img :src="item.thumbnail"/>
      <span class="main-content">
        <div class="img-content"> 
          <img class="profileImg" :src="item.profileImg"/>
        </div>
        
        <div class="sub-content">
          <p class="video-title"> {{item.title}} </p>
          <p class="video-username">{{item.username}}</p>
          <span class="sub-data">
            <div class="views">
              <h6>{{item.views}} &nbsp; &bull; &nbsp; </h6>
            </div>
            <div class="publish-date">
              <h6>{{item.publishDate}}</h6>
            </div>
          
          </span>
          
        </div>
        
      </span>
      
      
      </div>
      
    </div>
  </div>
  <v-divider class="divider" style="padding-bottom: 10px;"></v-divider>
  <div class="videos"> 
    <div class="panel" v-for="item in general" :key="item.id">
      <div @mouseover="onHoverEnter(item)" @mouseleave="onHoverExit(item)">
        <img :src="item.thumbnail"/>
      <span class="main-content">
        <div class="img-content"> 
          <img class="profileImg" :src="item.profileImg"/>
        </div>
        
        <div class="sub-content">
          <p class="video-title"> {{item.title}} </p>
          <p class="video-username">{{item.username}}</p>
          <span class="sub-data">
            <div class="views">
              <h6>{{item.views}} &nbsp; &bull; &nbsp; </h6>
            </div>
            <div class="publish-date">
              <h6>{{item.publishDate}}</h6>
            </div>
          
          </span>
          
        </div>
        
      </span>
      
      
      </div>
      
    </div>
  </div>
  </div>
  
</template>

<style>
h6 {
  font-weight: 400;
  font-size: 14px;
}
.img-content {
  display: inline-block;
  max-width: 10%;
  height: auto;
  align-self: unset;
}
.profileImg {
  
  border-radius: 50%;
}
.video-title {
  margin-bottom: 0 !important;
  font-size: 1em !important;
}
.video-username {
  margin-bottom: 0 !important;
}
.sub-content {
  padding-left: 20px;
  padding-right: 20px;
}
.main-content {
  display: flex;
  align-items: center;
  margin: 0px;
}

.sub-data {
  display: flex;
  align-items: center;
  margin: 0px;
}
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    
    margin: 1rem auto;
    padding: 0 0rem;
}
.panel img {
    width: 100%;
    object-fit: cover;
}

.page-content {
  padding-left: 20px;
  padding-right: 20px;
}

.divider {
  border-width: medium 0 0 !important;
}

.heading {
  margin-top: 1rem;
}
</style>

<script>

export default {
  data() {
    return {
      hover: false,
      items: [
        {
          id: 0,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 1,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 2,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
        {
          id: 3,
          title: "TOP 100 THUG LIFE MOMENTS IN GTA 5 (BEST OF GTA 5 THUG LIFE 2020)",
          thumbnail: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          image: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          webp: "https://i.ytimg.com/an_webp/OxZGbrbqg18/mqdefault_6s.webp?du=3000&sqp=CPGV4oIG&rs=AOn4CLCXetSW5cKHwjpRB1PRSI34FH8gRw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwniFliF-2S3a1aFbVqYr-vBJmjkoRxL6XZdmAt7QhA=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M",
          publishDate: "17 hours ago"
        },
        {
          id: 4,
          title: "President Biden falls on Air Force One stairs",
          thumbnail: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          image: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          webp: "https://i.ytimg.com/an_webp/U5Mwc12LtRY/mqdefault_6s.webp?du=3000&sqp=CKa64YIG&rs=AOn4CLCw9UCzuDhRZ5JgA1NgQ1_Rc02BYQ",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwngRdtlPSL_UXQznqKqoY8K5_J8DfmZi9u_N9Xq-RDY=s68-c-k-c0x00ffffff-no-rj",
          username: "Sky News",
          views: "3.3M views",
          publishDate: "2 days ago"
        },
        {
          id: 5,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 6,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 7,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
      ],

      trending: [
        {
          id: 0,
          title: "President Biden falls on Air Force One stairs",
          thumbnail: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          image: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          webp: "https://i.ytimg.com/an_webp/U5Mwc12LtRY/mqdefault_6s.webp?du=3000&sqp=CKa64YIG&rs=AOn4CLCw9UCzuDhRZ5JgA1NgQ1_Rc02BYQ",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwngRdtlPSL_UXQznqKqoY8K5_J8DfmZi9u_N9Xq-RDY=s68-c-k-c0x00ffffff-no-rj",
          username: "Sky News",
          views: "3.3M views",
          publishDate: "2 days ago"
        },
        {
          id: 1,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 2,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 3,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
      ],

      general: [
        {
          id: 0,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 1,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 2,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
        {
          id: 3,
          title: "TOP 100 THUG LIFE MOMENTS IN GTA 5 (BEST OF GTA 5 THUG LIFE 2020)",
          thumbnail: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          image: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          webp: "https://i.ytimg.com/an_webp/OxZGbrbqg18/mqdefault_6s.webp?du=3000&sqp=CPGV4oIG&rs=AOn4CLCXetSW5cKHwjpRB1PRSI34FH8gRw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwniFliF-2S3a1aFbVqYr-vBJmjkoRxL6XZdmAt7QhA=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M",
          publishDate: "17 hours ago"
        },
        {
          id: 4,
          title: "President Biden falls on Air Force One stairs",
          thumbnail: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          image: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          webp: "https://i.ytimg.com/an_webp/U5Mwc12LtRY/mqdefault_6s.webp?du=3000&sqp=CKa64YIG&rs=AOn4CLCw9UCzuDhRZ5JgA1NgQ1_Rc02BYQ",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwngRdtlPSL_UXQznqKqoY8K5_J8DfmZi9u_N9Xq-RDY=s68-c-k-c0x00ffffff-no-rj",
          username: "Sky News",
          views: "3.3M views",
          publishDate: "2 days ago"
        },
        {
          id: 5,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 6,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 7,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
        {
          id: 8,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 9,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 10,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
        {
          id: 11,
          title: "TOP 100 THUG LIFE MOMENTS IN GTA 5 (BEST OF GTA 5 THUG LIFE 2020)",
          thumbnail: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          image: "https://i.ytimg.com/vi/OxZGbrbqg18/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDicWkqgyRz3PjBN5w_E81iS2-IjA",
          webp: "https://i.ytimg.com/an_webp/OxZGbrbqg18/mqdefault_6s.webp?du=3000&sqp=CPGV4oIG&rs=AOn4CLCXetSW5cKHwjpRB1PRSI34FH8gRw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwniFliF-2S3a1aFbVqYr-vBJmjkoRxL6XZdmAt7QhA=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M",
          publishDate: "17 hours ago"
        },
        {
          id: 12,
          title: "President Biden falls on Air Force One stairs",
          thumbnail: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          image: "https://i.ytimg.com/vi/U5Mwc12LtRY/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDppD7mZ5SXLXNmlVCrBiBBBv4poQ",
          webp: "https://i.ytimg.com/an_webp/U5Mwc12LtRY/mqdefault_6s.webp?du=3000&sqp=CKa64YIG&rs=AOn4CLCw9UCzuDhRZ5JgA1NgQ1_Rc02BYQ",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwngRdtlPSL_UXQznqKqoY8K5_J8DfmZi9u_N9Xq-RDY=s68-c-k-c0x00ffffff-no-rj",
          username: "Sky News",
          views: "3.3M views",
          publishDate: "2 days ago"
        },
        {
          id: 13,
          title: "Sturmgewehr 44",
          thumbnail: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          image: "https://i.ytimg.com/vi/gMK5OGEIbwk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWMYkrrN5ZM1EmYgT0CrTFjq79gw",
          webp: "https://i.ytimg.com/an_webp/gMK5OGEIbwk/mqdefault_6s_480x270.webp?du=3000&sqp=CKay4oIG&rs=AOn4CLAD35ZLoagBre4mYZi29dvW64L14w",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnhnVerjSLIVGFSMkGZba3R3rCO2nFkCP_wEahnxOg=s68-c-k-c0x00ffffff-no-rj",
          username: "hicock45",
          views: "6M views",
          publishDate: "6 years ago"
        },
        {
          id: 14,
          title: "The Ultimate Guide To The 2021 F1 Season",
          thumbnail: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          image: "https://i.ytimg.com/vi/vtnuy1Vrfsg/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCnnjwOzaJ7kQrOjSCUmHPb1-fYMw",
          webp: "https://i.ytimg.com/an_webp/vtnuy1Vrfsg/mqdefault_6s.webp?du=3000&sqp=CJip4YIG&rs=AOn4CLDN-qKjNqCVR6aA_PPC8zLwhGsxDA",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnglSBGJhobxUNCOjG9KceTuNE-qs-W7P5-iI2FFmw=s68-c-k-c0x00ffffff-no-rj",
          username: "FORMULA 1",
          views: "4.7M views",
          publishDate: "17 hours ago"
        },
        {
          id: 15,
          title: "How an AK-47 Works",
          thumbnail: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          image: "https://i.ytimg.com/vi/_eQLFVpOYm4/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCjKkH-qzOpWsYNeqACkPTiZWFl8w",
          webp: "https://i.ytimg.com/an_webp/_eQLFVpOYm4/mqdefault_6s_480x270.webp?du=3000&sqp=CNT94YIG&rs=AOn4CLCCfbbzDK7u_mmwlErSb2ByBGQyUw",
          profileImg: "https://yt3.ggpht.com/ytc/AAUvwnjKdXe9DbIngH9jemHDprqaXC6lH6ydlL_RmkZcQg=s68-c-k-c0x00ffffff-no-rj",
          username: "Matt Rittman",
          views: "176M views",
          publishDate: "3 years ago"
        },
      ]
    }
  },
  methods: {
    onHoverEnter(item) {
      item.thumbnail = item.webp;
    },

    onHoverExit(item) {
      item.thumbnail = item.image;
    }
  },
}
</script>